body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.background {
    background-image: url(Images/Pampanga-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

.container {
    max-width: 1920px;
    padding: 10px;
    position: relative;
}

#title {
    text-align: center;
    font-size: 3em;
    margin-top: 15px;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 8px white;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table-bg {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

#municipality {
    text-decoration-line: none;
    color: #004bbb;
    font-weight: bolder;
}

.footer {
    text-align: center;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    margin-top: 50px;
    height: 50px;
    padding: 20px;
}