body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

a:visited{
    color:white;
  }

.background {
    background-image: url(../Images/Pampanga-background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: black;
}

#navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

#title {
    text-align: center;
    font-size: 3em;
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 8px white;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbtn {
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    background-color: rgba(0,123,255, 0.9);
    color: white;
    text-align: center;
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.navbtn:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    flex: 1;
}

.image {
    width: 50%;
    float: right;
    margin-left: 10px;
}

img {
    width: 100%;
    height: auto;
}

.municipality-info {
    margin-bottom: 20px;
}

.back-button-container {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}
